# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Application Data (Optional: keep these if you want them in the repo as examples, otherwise comment out)
# furniture_vectors.index
